:root {
    --white: #fff;
    --black: #171923;
    --blackAlpha-500: rgba(0, 0, 0, 0.36);
    --gray-100: #FCFCFC;
    --gray-200: #E2E8F0;
    --gray-300: #A0AEC0;
    --gray-600: #4A5568;
    --purple: #8C19D2;
    --blue: #0069CA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    outline: none;
    text-decoration: none;
}

body {
    background-color: var(--white);
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

body, input, textarea, button {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}